@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    
}

:root{
--GrayishBlue: hsl(217, 19%, 38%);
--DarkGrayishBlue: hsl(217, 19%, 24%);
--DarkBlue: hsl(218, 23%, 16%);
--LightCyan: hsl(193, 38%, 86%);
--NeonGreen: hsl(150, 100%, 66%);
}
body{
    height: calc(100vh - 0.1px);
    background-color: var(--DarkBlue);
    text-align: center;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.container{
    background-color: var(--DarkGrayishBlue);
    padding:  1.2rem 1.8rem 1.2rem 1.8rem;
    border-radius: 0.6rem;
    position: relative;
    max-width: 478px;
}
h1{
    font-size: smaller;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    margin-bottom: 1.2rem;
    font-weight: 800;
    margin-top: 0.7rem;
    color: var(--NeonGreen);
    
}
p{
    line-height: 1.3;
    margin-bottom: 1.2rem;
    font-weight: 200;
    font-size: 28px;
    color: #fff
}

.attribution {
    margin-top: 3rem;
     font-size: 11px; text-align: center;
     color: var(--LightCyan);
 }
.attribution a { 
    color: hsl(228, 64%, 56%); 
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}
.attribution a:hover{
    color: hsl(228, 48%, 42%); 
    
}
button{
    background-color: var(--NeonGreen);
    border: none;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    transition: all ease-in-out 0.3s;
}
button:hover{
    background-color:hsl(150, 50%, 46%);
    cursor: pointer;
}
#divider{
    margin-bottom: 2.5rem;
    
}
.enter{
    position: absolute;
    left: 50%;
    
    transform: translate(-50%,-20%);
}
.enter button img{
    height: 1.4rem;
    width: 1.4rem;
}